@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans', sans-serif;
}
header{
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  box-shadow: 0 -14px  15px rgba(0, 0, 0,0.5);
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}
nav h2{
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
nav p i{
  margin-right: 10px;
  cursor: pointer;
}
nav p span{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.form-control{
  width: 350px;
  border: none;
  margin: 55px;
  padding:9px 20px;
  border-radius: 5px;
  color: hsl(0, 0%, 52%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0,0.3);
  font-size: 15px;
  font-family: 'Nunito Sans', sans-serif;

}
.form-control::placeholder{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  color: hsl(0, 0%, 52%);
}
.form-control:focus{
  outline: none;
}
